/* src/styles.css */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input,textarea {
    width: 95%;
    max-width: 95%;
    height:40%;
    min-width: 95%;
    max-height: 90%;
    min-height: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* Specific styles for textarea */
textarea {
  min-height: 100px; /* Set a minimum height for the textarea */
  max-height: 300px; /* Set a maximum height for the textarea */
  resize: vertical; /* Allow vertical resizing only */
}
  button {
    width: 40%;
    margin-top: 2%;
    /* position: absolute;
  right: 20px;*/
  padding: 10px 20px;
    /* padding: 10px;  */
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .logout-button {
     width: 7.5%; 
   position: absolute;
   top: -10px;
  right: 20px;
  padding: 10px 20px;
    /* padding: 10px;  */
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen {
    
  }
  .vote-button{
    max-width: 25%;
    width: 20%; 
   padding: 10px 20px;
     /* padding: 10px;  */
     background: #007bff;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
  